<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
<listeners>
<listener class-name="Analyzer.AnnotationTransformer">
</listener>
</listeners>
  <test name="Test">
    <classes>
      <class name="Analyzer.Class1"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
